extends ../../layouts/default

block content
	#signinBody
		+flash-messages(messages)
		if user
			.container
				form.signinModal-body(action=user.actionValue,role="form")
					.input-group
						.signinDesc
							p.nav_UserName Hi #{user.name.first},you are already signed in!
					br
					.input-group
						.btnOut-container
							button(type='submit')#signinBtn.btn.btn-primary.btn-lg.btn-block #{user.btnValue}

		else
			.row
				.center-block.center-block-Content
					form.bs-example.bs-example-form(method="post",action='/signin', novalidate,role="form")
						.input-group
							span.input-group-addon
								img(src='../../images/head.png', alt=brand)
							input.form-control(type='email', name='email', id='email',placeholder='Username')
						br
						.input-group
							span.input-group-addon
								img(src='../../images/lock.png', alt=brand)
							input.form-control(type='password', name='password', id='password', placeholder='Password')
						br
						.input-group
							.btn-container
								button(type='submit')#IsigninBtn.btn.btn-primary.btn-lg.btn-block Sign In
